img {
  margin-bottom: initial;
}

.thumbnail,
.thumbnail .image {
  height: initial;
}

.nav.toggle {
  padding: 16px 0px;
}

.nav_title,
.site_title {
  height: initial;
}

.nav-md .container.body .col-md-3.left_col {
  z-index: 0;
}

.modal-footer .btn + .btn {
  margin-bottom: 5px;
}
