$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "~font-awesome/fonts";

@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~font-awesome/scss/font-awesome";
@import "~gentelella/src/scss/custom";

@import "theme_overrides";
@import "sidebar";

html, body, .container, .main_container {
  height: 100%;
}

.right_col {
  min-height: 100%;
}

.row.sources {
  padding-top: 14px;
}

a {
  cursor: pointer;
}
